/* Custom styles */
body {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.card {
  box-shadow: 0px 0px 20px #ccc;
  max-width: fit-content;
}

.form-control {
  background-color: transparent;
  border-radius: 2;
}
.form-control:focus {
  box-shadow: none;
}
.form-group {
  padding: 8px;
}
.btn-login {
  display: block;
  margin: auto;
  width: 60%;
  border-radius: 2;
  background-color: #57afdc;
  color: white;
}
.btn-login:hover {
  background-color: #57afdc;
}